.outer-paper {
  margin-top: 20px;
  margin: auto;
  padding: 20px;
  width: 60%;
}

#unit-id {
  border-radius: 3px;
  background-color: rgb(255, 225, 0);
  transition: 0.2s;
}

#unit-id:hover {
  background-color: rgb(247, 92, 36);
  border-radius: 5px;
  border-color: black;
  cursor: pointer;
  transition: 0.2s;
}